* {
  font-family: "Roboto", sans-serif;
}

body {
  background: black;
}
h1 {
  font-weight: 500;
}
p {
  font-weight: 300;
}

.navbar-brand img {
  width: 30px;
}
/* Se cambio un poco el tamaño de las imagenes del carrousel para que no fueran tan altas */
.slide img {
  height: 100vh;
}

.presentacion .card {
  background: black;
}
.destacados img {
  height: 200px;
}
.destacados {
  width: 100%;
}
#presentacion i {
  font-size: 1.5em;
}
#footer {
  font-size: 2em;
  color: white;
}
#footer a {
  text-decoration: none;
}

@media (max-width: 576px) {
  .navbar {
    position: fixed;
    background: #2ca3ad;
  }
  .slide img {
    height: 60vh;
  }
}
